form > img {
  width: 215px;
  height: 215px;
}

h1, h2 {
  font-weight: bold;
  color: white;
}

h4 {
  color: white;
}

p, #chart_two_message {
  color: white;
}

body {
  background-color: gray;
}

form > h2 {
  text-align: center;
  color: black;
}

